RABBIT_HOST=rabbit
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB_INDEX=0

SMTP_USER=root@localhost
SMTP_PASSWORD=
SMTP_HOST=localhost
SMTP_PORT=25

LOGSTASH_HOST=logstash
LOGSTASH_PORT=5044