# === App ===

APP_DEBUG=False
APP_HOST=0.0.0.0
APP_PORT=50051
APP_MAX_WORKERS=10

# === Gateways ===
GATEWAYS_AUTH_HOST=auth
GATEWAYS_AUTH_PORT=50051
GATEWAYS_RABBIT_HOST=rabbit
GATEWAYS_RABBIT_PORT=5672
GATEWAYS_RABBIT_QUEUE=scheduled.email.send
GATEWAYS_POSTGRES_HOST=notice_postgres
GATEWAYS_POSTGRES_PORT=5432
GATEWAYS_POSTGRES_USER=postgres
GATEWAYS_POSTGRES_PASSWORD=postgres
GATEWAYS_POSTGRES_DB_NAME=postgres

# === gRPC ===
GRPC_VERBOSITY=INFO